.App {
  text-align: center;
}

a, .btn-link {
  color: #0493bf;
}

.centered-col {
  margin: auto;
}

.img-thumbnail {
  background: transparent;
  margin: auto;
}

.navbar, .card-header {
  background-color: #047b90;
  color: #fff;
}

.nav-link, .nav-link:hover, .nav-link:focus {
  color: #fff;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
  color: rgba(255,255,255,.9);
}

.card {
  margin-bottom: 15px;
  border: 1px solid #047b9045;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

.leaderBoard-card, .poll-card {
    max-width: 550px;
    margin: 0 auto 1rem auto;
}

.score-card {
  box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1);
}

.nav-tabs .nav-link {
  color: #495057;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0493bf;
}

.card-header {
  font-size: 18px;
  padding: 1rem;
}

.img-col {
  max-width: 150px;
}

.img-avatar {
    border: 2px solid #f1533c;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1);
}

.btn {
  border-radius: 24px;
  padding: .3rem 1.5rem;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary.disabled, .btn-primary:disabled {
  background-color: rgb(236,73,58);
  border-color: rgb(236,73,58);
}
